<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Add Employee</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/save}" th:object="${transaction}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="parentid" class="col-form-label">Parent Transaction Id</label>
                            <input type="text" th:field="*{parentTranId}" class="form-control"
                                   id="parentid" placeholder="Parent Transaction Id" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="serviceName" class="col-form-label">Service Name</label>
                            <input type="text" th:field="*{serviceName}" class="form-control"
                                   id="serviceName" placeholder="Service Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="userName" class="col-form-label">User Name</label>
                            <input type="text" th:field="*{userName}" class="form-control"
                                   id="userName" placeholder="User Name" />
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{transactionId}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
